.filter_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 0 20px;
}

.status_box {
    background-color: #FFFFFF;
    padding: 20px 20px;
    width: 700px;
}

.status_button {
    color: black;
    background-color: #E6E6E6;
    border: none;
    font-size: large;
    width: 130px;
    height: 35px;
    margin-top: 10px;
}

#category_dropdown {
    width: 200px;
    height: 35px;
    border: none;
    background-color: #E6E6E6;
    color: black;
    font-size: large;
    margin-top: 10px;
    padding: 5px 20px;

}