* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    background-color: #7B9669;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #7B9669;
}

.picture {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: block;
}

.header {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    justify-content: space-between;
    margin: 0px 20px;
    padding: 10px 20px;
    background-color: #ffffff;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.add_book_button {
    padding: 6px 12px;
    width: 125px;
    height: 40px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: #404E3B;
    color: white;
    font-weight: 500;
}